/*---------------------------
ESTILOS PARTICULA ITEMS CONTACTOS
---------------------------*/
.g-items-contactos{
padding: 0;
margin: 0;
@include display(inline-flex);
@include flex-direction(row);

	/*Orientación Items*/	
	&.g-item-dis-horizontal{
		.g-items-contactos-opcion{
		margin-right:1rem;
			&:last-child {
			margin-right: 0 !important;
			}
			i{
			color:$accent-color-1;
			}
		}
		
	}
	&.g-item-dis-vertical{
	flex-direction: column;
		.g-items-contactos-opcion{
		margin-bottom:1rem;
			&:last-child {
			margin-bottom:0 !important;
			}
		}
		
	}
	
	/*Alineación horizontal*/
	&.g-item-cont-izq .g-items-contactos-opcion{
	text-align: left;
	}
	&.g-item-cont-cen .g-items-contactos-opcion{
	text-align: center;
	}
	&.g-item-cont-der .g-items-contactos-opcion{
	text-align: right;
	}	

	.g-items-contactos-opcion,
	.g-items-contactos-opcion a {
	list-style: none;
	@include display(flex);
	@include align-items(center);
	text-decoration: none;
	}

	/*Alineación del ícono*/
	&.g-item-ico-arri .g-items-contactos-opcion,
	&.g-item-ico-arri .g-items-contactos-opcion a,
	&.g-item-ico-abaj .g-items-contactos-opcion,
	&.g-item-ico-abaj .g-items-contactos-opcion a
	 {
    @include flex-direction(column);
	}
	&.g-item-ico-abaj .g-items-contactos-opcion .g-items-contactos-icono {
    order: 1;
    @include order(1);
	}

	/*Espaciado del ícono*/
	&.g-item-ico-arri .g-items-contactos-opcion .g-items-contactos-icono {
	margin-bottom: .4rem;
	}
	&.g-item-ico-izqu .g-items-contactos-opcion .g-items-contactos-icono {
	margin-right: .4rem;
	}
	&.g-item-ico-abaj .g-items-contactos-opcion .g-items-contactos-icono {
	margin-top: .4rem;
	}
	
	.g-items-contactos-opcion .g-items-contactos-valor p{
	margin: 0;
	}
	.g-items-contactos-opcion .g-items-contactos-valor strong {
	color: inherit;
	}

}

/*-------------------------------------------
MEDIAS QUERIES
------------------------------------------*/

@media all and (max-width:$breakpoints-large-mobile-container) {

	.g-items-contactos {
		 @include display(flex);
		 @include flex-direction(column);
		
		 .g-items-contactos-opcion {
		  margin-right: 0;
		  margin-bottom:1rem;
		}
	}
}/*Fin Media Queries*/
